<style type="text/css">

body{ /* Normal  */
   font-size: 12px;
}

h1 { /* Header 1 */
 font-size: 28px;
}

h2 { /* Header 2 */
 font-size: 22px;
}

h3 { /* Header 3 */
 font-size: 18px;
}

code.r{ /* Code block */
  font-size: 10px;
}

pre { /* Code block */
  font-size: 12px
}
</style>