<style type="text/css">

body{ /* Normal  */
   font-size: 12px;
}
td {  /* Table  */
   font-size: 8px;
}
h1 { /* Header 1 */
 font-size: 28px;
}
h2 { /* Header 2 */
 font-size: 22px;
}
h3 { /* Header 3 */
 font-size: 18px;
 /* color: DarkBlue; */
}
code.r { /* Code block */
  font-family: Consolas, Monaco, monospace;
  font-size: 10px;
}
pre { /* Code block */
  font-family: Consolas, Monaco, monospace;
  font-size: 10px
}
</style>